@import "tailwindcss";

@theme{

    /* Theme colors */
    --color-primary: #e6f3ff;
    --color-accent-red: #f26430;
    --color-accent-blue: #005eff;
    --color-dark: #000;
    --color-light: #FFF;
    
    /*Padding*/
    --spacing-body: 16px;
}

/* Components definition */

@layer components{
    .transition-set{
        @apply transition-all ease-out duration-600;
    }

    .center-items{
        @apply flex items-center justify-center;
    }
}

/* Button Definition */

button{
  @apply active:scale-95 cursor-pointer transition-all ease-out duration-600
}