@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme{

    /* Theme colors */
    --color-primary: #e6f3ff;
    --color-accent-red: #f26430;
    --color-accent-blue: #005eff;
    --color-dark: #000;
    --color-light: #FFF;
    
    /* Text colors */
    --color-primary-text: #000;
    --color-secondary-text: #FFF;

    /*Padding*/
    --spacing-body: 16px;
}

/* Components definition */

@layer components{
    .transition-set{
        @apply transition-all ease-out duration-600;
    }

    .center-items{
        @apply flex items-center justify-center;
    }
}

/* Button Definition */

button{
  @apply active:scale-95 cursor-pointer transition-all ease-out duration-600
}

a{
  @apply active:scale-95 cursor-pointer transition-all ease-out duration-600
}

.dark{

      /* Theme colors */
    --color-primary: #101418;
    --color-accent-red: #f26430;
    --color-accent-blue: #005eff;
    --color-dark: #ffffff;
    --color-light: #000000;
    
    /* Text colors */
    --color-primary-text: #ffffff;
    --color-secondary-text: #000000;

}